
@{
    ViewData["Title"] = "UserPosition";
}
@{ Layout = "../Shared/_layout_1.cshtml"; }
<html>
<head>
    <script src="~/js/localization_client.js"></script>
    <script>
        $(function () {

            var i=Math.round(Math.random() * 4)
            var x = ["50px", "50px", "50px", "50px"]
            var y = ["400px", "459px", "520px", "580px"]
            $("#book_position").css({
                "right": x[3],
                "top": y[3]
            });
            
        });
        //function test() {
        //    $.ajax({
        //        type: "get",
        //        url: "/Books/Position",
        //        timeout: 60000,
        //        async: true,
        //        dataType: "json",
        //        success: function (data) {
        //            var x = data.x + "px";
        //            var y = data.y + "px";
        //            $("#position").css({ "left": x, "top": y });
        //            $("#loaction").html(data.x);
        //        }
        //    });
        //}
        //window.onload = function () {
        //    test();
        //    setInterval("test(),50000");

        //}


        //$(function () {

        //    function check() {
        //        var $bookname = $("#bookname");
        //        $('tbody').html("");
        //        $.ajax({
        //            url: "/BookQuery/GetData",
        //            data: {
        //                bookname: $.trim($bookname.val())
        //            },
        //            type: "post",
        //            cache: false,
        //            //dataType: "json",
        //            success: function (data) {
        //                try {
        //                    var tmpData = $.parseJSON(data/*.Data*/);
        //                    for (var i = 0; i < tmpData.length; i++) {
        //                        //var newRow = '<tr><td>' + tmpData[i].BookId + '</td><td>'
        //                        var newRow = '<tr><td> ' + tmpData[i].BookId + '</td><td>'
        //                            + tmpData[i].BookName + '</td><td>'
        //                            + tmpData[i].BookIbsn + '</td><td>'
        //                            + tmpData[i].Author + '</td><td>'
        //                            + tmpData[i].Press + '</td><td>'
        //                            + tmpData[i].OriPrice + '</td><td>'
        //                            + tmpData[i].CurrPrice + '</td><td></tr>';
        //                        $('tbody').append(newRow);

        //                    }

        //                }
        //                catch (err) {
        //                    alert("数据获取失败:" + err.message);
        //                }
        //            },
        //            error: function (response) {
        //                alert("数据获取失败，原因：超时或错误号:" + response.status + ",请稍后再试。");
        //            }

        //        });
        //    }
        //    $("#BookQuery_btn").click(function () { check(); })

        //});
    </script>



    <style>

        #map {
            background: url(/assets/img/background3.png) no-repeat 0px 0px;
            border: 1px solid #f5f5fa;
            width: 850px;
            height: 975px;
            position: relative;
            margin: 0 auto;
        }

        #position {
            width: 30px;
            position: absolute;
            right: 100px;
            top: 100px;
        }

        #title {
            text-align: center
        }

        #certern {
            text-align: center
        }
        #book_position {
            width: 30px;
            position: absolute;
            right: 39px;
            top: 350px;
        }
    </style>
</head>
<body>

</body>
</html>

<h1 id="title">地图导航</h1>
<div id="certern">
    <button class="btn " type="button" onclick="ToggleBasicClicked()">开始导航</button>
</div>

<div id="map">
    <img src="~/assets/img/location.png" id="position" />
    <img src="~/assets/img/book (1).png" id="book_position" />
</div>
<label id="loaction">

</label>
