@model WebApplication1.Models.Book

@{
    ViewData["Title"] = "修改图书";
}
@{ Layout = "../Shared/_layout_2.cshtml"; }
<h2>修改图书</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>            
            <div class="form-group">
                <label asp-for="BookId" class="control-label">图书编号</label>
                <input asp-for="BookId" class="form-control" />
                <span asp-validation-for="BookId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookName" class="control-label">图书名称</label>
                <input asp-for="BookName" class="form-control" />
                <span asp-validation-for="BookName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookIbsn" class="control-label">图书ISBN</label>
                <input asp-for="BookIbsn" class="form-control" />
                <span asp-validation-for="BookIbsn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label">作者</label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OriPrice" class="control-label">初始价格</label>
                <input asp-for="OriPrice" class="form-control" />
                <span asp-validation-for="OriPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Press" class="control-label">出版社</label>
                <input asp-for="Press" class="form-control" />
                <span asp-validation-for="Press" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrPrice" class="control-label">现价</label>
                <input asp-for="CurrPrice" class="form-control" />
                <span asp-validation-for="CurrPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="category" class="control-label">图书类别</label>
                <input asp-for="category" class="form-control" />
                <span asp-validation-for="category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userName" class="control-label">用户名</label>
                <input asp-for="userName" class="form-control" />
                <span asp-validation-for="userName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>

        </form>
    </div>
</div>

<div>
    <a href="javascript:history.go(-1)">返回</a>

</div>

