@{
    ViewData["Title"] = "审核信息";
}
<link rel="stylesheet" href="~/css/user-center.css" />
<div id="info-box">
    <ul class="nav nav-tabs nav-justified">
        <li role="presentation"><a href="/UserCenter/Index">交易统计</a></li>
        <li role="presentation"><a href="/UserCenter/UserInform">个人信息</a></li>
        <li role="presentation" class="active"><a href="javascript:void(0);">审核查询</a></li>
        <li role="presentation"><a :href="link1">寄卖查询</a></li>
        <li role="presentation"><a :href="link">订单查询</a></li>
    </ul>

</div>

<h3>审核状态查询</h3>
<hr />

<div class="check-informs" id="check-informs">
    <div class="check-item" v-for="item in check_informs">
        <span><img :src="item.img_src" /></span>
        <span>{{ item.name }}</span>
        <span>{{ item.type }}</span>
        <span>{{ item.status }}</span>
    </div>
</div>

<script>
    var app = new Vue({
        el: "#check-informs",
        data: {
            check_informs: [
                {     
                    BookId： ""               
                    name: "C++程序设计",
                    type: "出售",
                    status: "审核中",
                },
            ],
        }
    })
    var app2 = new Vue({
        el: "#info-box",
        data: {
            link: "/UserCenter/MyOrder?id=" + getCookie("username"),
            link1: "/UserCenter/MySell?id=" + getCookie("username"),
        }
    })
</script>
