@{
    ViewData["Title"] = "审核信息";
}
<link rel="stylesheet" href="~/css/user-center.css" />

<ul class="nav nav-tabs nav-justified">
    <li role="presentation"><a href="/UserCenter/Index">交易统计</a></li>
    <li role="presentation"><a href="/UserCenter/UserInform">个人信息</a></li>
    <li role="presentation" class="active"><a href="javascript:void(0);">审核查询</a></li>
    <li role="presentation"><a href="/UserCenter/Favorite">收藏夹</a></li>
    <li role="presentation"><a href="/UserCenter/MyOrder">订单查询</a></li>
</ul>

<h3>审核状态查询</h3>
<hr />

<div class="check-informs" id="check-informs">
    <div class="check-item" v-for="items in check_informs">
        <span><img :src="items.img_src" /></span>
        <span>{{ item.name }}</span>
        <span>{{ item.type }}</span>
        <span>{{ item.status }}</span>
    </div>
</div>

<script>
    var app = new Vue({
        el: "#check-informs",
        data: {
            check_informs: [
                {
                    img_src: "/images/home/cplusplus.jpg",
                    name: "C++程序设计",
                    type: "出售",
                    status: "审核中",
                },
                {
                    img_src: "/images/home/cplusplus.jpg",
                    name: "C++程序设计",
                    type: "出售",
                    status: "审核中",
                },
            ]
        }
    })
</script>