@{
    ViewData["Title"] = "个人信息";
    Layout = "~/Views/Shared/_Layout_1.cshtml";
}
<link rel="stylesheet" href="~/css/user-center.css" />

<div id="info-box">
    <ul class="nav nav-tabs nav-justified">
        <li role="presentation"><a href="/UserCenter/Index">交易统计</a></li>
        <li role="presentation" class="active"><a href="javascript:void(0);">个人信息</a></li>
        <li role="presentation"><a :href="link2">售出书籍查询</a></li>
        <li role="presentation"><a :href="link1">在架书籍查询</a></li>
        <li role="presentation"><a :href="link">订单查询</a></li>
    </ul>
</div>
<form id="user-form" class="user-form">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">用 户 名：</span>
        <input type="text" class="form-control" v-model="User.UserName">
    </div>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">支 付 宝：</span>
        <input type="text" class="form-control" v-model="User.AlipayAccount">
    </div>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">联系方式：</span>
        <input type="text" class="form-control" v-model="User.ContactInfo">
    </div>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">电子邮件：</span>
        <input type="text" class="form-control" v-model="User.Mail">
    </div>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">性别：</span>
        <input type="radio" id="male" value="男" v-model="User.Sex">
        <label for="male">男</label>        
        <input type="radio" id="female" value="女" v-model="User.Sex">
        <label for="female">女</label>
    </div>
    <div class="input-group">
        <a class="btn" href="javascript:commit()">保存修改</a>
    </div>
</form>

    <script>
        var app = new Vue({
            el: "#user-form",
            data: {
                User: {
                    UserId: "",
                    UserName: "",
                    AlipayAccount: "",
                    ContactInfo: "",
                    Mail: "",
                    Password: "",
                    Sex: "",
                },

            },

        });
        $.post(
            "/Users/getInfo",
            {
                UserName: getCookie("username")
            },
            function (data) {                
                app.User = JSON.parse(data.user)[0];
            }
        )

        var app2 = new Vue({
            el: "#info-box",
            data: {
                link: "/UserCenter/MyOrder?id=" + getCookie("username"),
                link1: "/UserCenter/MySell?id=" + getCookie("username"),
                link2: "/UserCenter/SaleBooks?id=" + getCookie("username"),
            }
        })

        function commit() {
            $.post(
                "/Users/Update",
                {
                    user: JSON.stringify(app.User),
                },
                function (data) {
                    if (data.state == "success") {
                        alert(data.message);
                    }
                }
            )
        }
    </script>
