
@{
    ViewData["Title"] = "买书";
}
<style>
    .form-group label.form-label {
        display: inline-block;
        min-width: 80px;
    }
    #buy-form{
        display:flex;
        justify-content:center;
    }
</style>
<h2>买书流程</h2>

<div class="container-fluid">
    <div class="row" id="buy-form">
        <div class="col-md-4 col-sm-4">
            <div>
                <div class="form-group">
                    <a class="btn" href="javascript:read();">读取RFID</a>
                </div>                
                <div class="form-group">
                    <label class="form-label">书籍名称：</label>
                    <label>{{ book.BookName }}</label>
                </div>
                <div class="form-group">
                    <label class="form-label">书籍ISBN：</label>
                    <label>{{ book.BookIbsn }}</label>
                </div>
                <div class="form-group">
                    <label class="form-label">作者：</label>
                    <label>{{ book.Author }}</label>
                </div>
                <div class="form-group">
                    <label class="form-label">出版社：</label>
                    <label>{{ book.Press }}</label>
                </div>
                <div class="form-group">
                    <label class="form-label">书籍原价：</label>
                    <label>￥{{ book.OriPrice }}</label>
                </div>
                <div class="form-group">
                    <label class="form-label">出手价格：</label>
                    <label>￥{{ book.CurrPrice }}</label>
                </div>
                <div class="form-group">
                    <label class="form-label">卖家：</label>
                    <label>{{ book.userName }}</label>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3">
            <div class="form-group">
                <a class="btn" href="javascript:pay();">结账</a>
            </div>

            <div id="qrcode">
            </div>
            <div class="form-group">
                <a class="btn" href="javascript:commit();">提交订单</a>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/qrcode.js"></script>
<script>
    var buyapp = new Vue({
        el: "#buy-form",
        data: {
            book: {
                BookId: "",       
                BookName: "",
                BookIbsn: "",
                Author: "",
                Press: "",
                OriPrice: "",
                CurrPrice: "",
                category: "",
                userName: "",
            }, 
            isPay : false,          
        },
    });
    var qrcode = new QRCode(document.getElementById("qrcode"), { width: 180, height: 180 });    
    function clearcode() {
        $("#qrcode").html('<canvas width="180" height="180"></canvas><img alt="Scan me!" style="display: none;">')
        $("#qrcode").removeAttr("title");
    }
    function read() {        
        $.get("/Books/BuyBooks", function (data, status) {
            //console.log("Data: " + data.message + "\nStatus: " + status);
            if (data.state == "success")
                buyapp.book = JSON.parse(data.message);
            else {
                alert(data.message);
            }
        })
    }
    function pay() {
        if (getCookie("username") == "") {
            alert("购买前请先登录");
            return;
        }
        if(buyapp.book.CurrPrice == ""){
            alert("请先读取书籍RFID");
            return;
        }
        qrcode.makeCode(buyapp.book.CurrPrice + "元");
        buyapp.isPay = true;
    }

    function commit() {
        if(buyapp.book.CurrPrice == ""){
            alert("请先读取书籍RFID");
            return;
        }
        if(!buyapp.isPay){
            alert("请先支付");
            return;
        }
        $.post(
            "/Orders/Commit",
            {
                order: JSON.stringify({
                    OrderId: "",
                    BookId: buyapp.book.BookId,
                    OrderTime: new Date().toJSON(),
                    OrderPrice: parseInt(buyapp.book.CurrPrice),
                    OrderStatus: 1,
                    UserId: "123",
                    bookName: buyapp.book.BookName,
                    buyerName: getCookie("username"),
                    salerName: buyapp.book.userName,
                    salerID: "123"
                }),
                date: new Date().getTime(),
            },
            function (data, status) {
                if(data.state == "success"){
                    alert(data.message);
                    window.history.go(0)
                }else{
                    alert(data.message)
                }
            }
        )
    }
    

</script>

