
@{
    ViewData["Title"] = "买书";
}
<style>
    .form-group label.form-label {
        display: inline-block;
        min-width: 80px;
    }
</style>
<h2>买书  <small>购买前请先登录</small></h2>

<div class="container-fluid">
    <div class="row" id="buy-form">
        <div class="col-md-4 col-sm-4">
            <div>
                <a class="btn" href="javascript:read();">读取RFID</a>
                <div class="form-group">
                    <label class="form-label">书籍名称：</label>
                    <label>{{ book.BookName }}</label>
                </div>
                <div class="form-group">
                    <label class="form-label">书籍ISBN：</label>
                    <label>{{ book.BookISBN }}</label>
                </div>
                <div class="form-group">
                    <label class="form-label">作者：</label>
                    <label>{{ book.author }}</label>
                </div>
                <div class="form-group">
                    <label class="form-label">出版社：</label>
                    <label>{{ book.press }}</label>
                </div>
                <div class="form-group">
                    <label class="form-label">书籍原价：</label>
                    <label>￥{{ book.oriPrice }}</label>
                </div>
                <div class="form-group">
                    <label class="form-label">出手价格：</label>
                    <label>￥{{ book.currPrice }}</label>
                </div>
                <div class="form-group">
                    <label class="form-label">卖家：</label>
                    <label>{{ book.userName }}</label>
                </div>
                <div class="form-group" style="display:none;">
                    <label class="form-label">书籍位置：</label>
                    <label>{{ location }}</label>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-4">
            <a class="btn" href="javascript:read();">读取RFID</a>
            <div class="img-box">
                <img alt="这里有一张二维码"/>
            </div>
        </div>
    </div>
</div>

<script>
    var buyapp = new Vue({
        el: "#buy-form",
        data: {
            book: {
                BookName: "",
                BookIbsn: "",
                Author: "",
                Press: "",
                OriPrice: "",
                CurrPrice: "",
                userName: "",
            },
            location: "",
        },
    });
    function read() {
        $.get("/Books/BuyBooks", function (data, status) {
            alert("Data: " + data + "\nStatus: " + status);
            buyapp.book = JSON.parse(data.message);

        })
    }

</script>

