
@{
    ViewData["Title"] = "Condition";
}


@{
    ViewData["Title"] = "OrderQuery";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>用户登录</title>
    <link href="~/css/BookQuery_Condition.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/js/jquery-1.7.1.js"></script>
    <script type="text/javascript">

    </script>
</head>
<body>
    <div class="main">
        <form id="BookQuery_Form">
            <input type="text" id="BookCondition"/>
            <input type="button" value="查询" id="BookCondition_btn"/>
        </form>
    </div>

</body>
</html>
