
@{
    ViewData["Title"] = "Condition";
}


@{
    ViewData["Title"] = "OrderQuery";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>书籍查询条件</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        div.outer {
            width: 100%;
            height: 500px;
        }

            div.outer div.inner {
                width: 725px;
                height: 60px;
                margin: 0 auto;
                padding-top: 200px;
            }

                div.outer div.inner form.parent {
                    position: relative;
                }

                    div.outer div.inner form.parent input.search {
                        width: 700px;
                        height: 60px;
                        border-radius: 25px;
                        outline: none;
                        border: 1px solid #ccc;
                        padding-left: 20px;
                        position: absolute;
                        font-size: 22px;
                    }

                    div.outer div.inner form.parent input.btn {
                        width: 100px;
                        height: 60px;
                        left: 600px;
                        position: absolute;
                        border-bottom-right-radius: 25px;
                        border-top-right-radius: 25px;
                        font-size: 22px;
                        font-weight: bold;
                        background-color: #044599;
                        color: #fff;
                    }
    </style>
    <link href="~/css/login_css.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
        function to() {
            document.location.href("www.baidu.com");
        }


    </script>
</head>
<body>

    <div class="outer">
        <div >
            <span id="login_info" class="sty_txt2"></span>
        </div>
        <div class="inner">
            <form id="BookQuery_Form" class="parent">
                <input type="text" placeholder="请输入书籍名称或关键字" id="BookCondition" class="search" />
                <a asp-area="" asp-controller="BookQuery" asp-action="Result"><input type="button" value="查询" id="BookCondition_btn" class="btn" /></a>
            </form>
        </div>
    </div>

</body>
</html>
