
@{
    ViewData["Title"] = "ResultDetail";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>书籍结果明细</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            list-style: none;
            text-decoration:none;
        }

        html, body {
            background: #fff;
            font: normal 15px "Microsoft YaHei";
        }
        div.main > p {
            background: #044599;
            text-align: center;
            font-weight: bold;
            font-size: 20px;
            border: 1px #ECECEC solid;
            color: #fff;
            height: 50px;
            line-height: 50px;
            margin: 0;
        }
        div.main > p >a{
            color:#fff;
            font-size:18px;
            float:left;
            margin-left:20px;
            font-weight:300;
           
        }
        div.main > p >a:hover{
            color:dodgerblue;
            text-decoration:none;
        }


        div.main > table tr th,
        div.main > table tr td {
            border: 1px solid #ECECEC;
            text-align: center;
            height: 30px;
            line-height: 30px;
        }

        div.main > table tr th {
            background: #fff;
            color: #808080;
        }
        


    </style>
    <script type="text/javascript" src="~/js/jquery-1.7.1.js"></script>
    <script type="text/javascript">

    </script>
</head>
<body>
    <div class="main">
        <p><a href="#">◀返回</a>书籍明细             
        <table width="100%" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th>书架号</th>                    
                    <th>原价</th>
                    <th>现价</th>
                    <th>卖家id</th>
                    <th>卖家姓名</th>
                    <th>卖家联系方式</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>不会写js。。</td>
                </tr>
            </tbody>

        </table>
    </div>

</body>
</html>

