
@{
    ViewData["Title"] = "卖书";
}
<style>
    .form-group label.form-label {
        display: inline-block;
        min-width: 80px;
    }
</style>
<h2>卖书流程</h2>

<div class="container-fluid">
    <div class="row" id="sell-form">
        <div class="col-md-4 col-sm-4">
            <div>
                <h3>填写书籍信息</h3>
                <div class="form-group">
                    <label class="form-label" for="BookISBN">书籍ISBN</label>
                    <input id="BookIbsn" type="text" v-model="book.BookIbsn" />
                </div>
                <div class="form-group">
                    <label class="form-label" for="BookName">书籍名称</label>
                    <input id="BookName" type="text" v-model="book.BookName" />
                </div>
                <div class="form-group">
                    <label class="form-label" for="author">作者</label>
                    <input id="Author" type="text" v-model="book.Author" />
                </div><div class="form-group">
                    <label class="form-label" for="press">出版社</label>
                    <input id="Press" type="text" v-model="book.Press" />
                </div>
                <div class="form-group">
                    <label class="form-label" for="oriPrice">书籍原价</label>
                    <input id="OriPrice" type="text" v-model="book.OriPrice" />
                </div>
                <div class="form-group">
                    <label class="form-label" for="currPrice">出手价格</label>
                    <input id="CurrPrice" type="text" v-model="book.CurrPrice" />
                </div>
                <div class="form-group">
                    <label class="form-label" for="category">类别</label>
                    <select id="category" v-model="book.category">
                        <option>计算机类</option>
                        <option>数理科学</option>
                        <option>文学</option>
                        <option>社会科学</option>
                        <option>其他</option>
                    </select>
                </div>
                <div class="form-group" style="display:none;">
                    <label class="form-label" for="username">卖家姓名</label>
                    <input id="userName" type="text" v-model="book.userName" />
                </div>
                <a class="btn" id="commit-btn" href="javascript:commit();">提交</a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div >
                <h3>书籍录入信息</h3>
                <div class="form-group">
                    <label class="form-label">书籍编号:</label>
                    <label>{{ new_book.BookId }}</label>
                </div>
                <div class="form-group">
                    <label class="form-label">书籍名称：</label>
                    <label>{{ new_book.BookName }}</label>
                </div>
                <div class="form-group">
                    <label class="form-label">书籍ISBN：</label>
                    <label>{{ new_book.BookIbsn }}</label>
                </div>
                <div class="form-group">
                    <label class="form-label">作者：</label>
                    <label>{{ new_book.Author }}</label>
                </div>
                <div class="form-group">
                    <label class="form-label">出版社：</label>
                    <label>{{ new_book.Press }}</label>
                </div>
                <div class="form-group">
                    <label class="form-label">书籍原价：</label>
                    <label>￥{{ new_book.OriPrice }}</label>
                </div>
                <div class="form-group">
                    <label class="form-label">出手价格：</label>
                    <label>￥{{ new_book.CurrPrice }}</label>
                </div>
                <div class="form-group">
                    <label class="form-label">类别：</label>
                    <label>{{ new_book.category }}</label>
                </div>
                <div class="form-group">
                    <label class="form-label">卖家：</label>
                    <label>{{ new_book.userName }}</label>
                </div>
                <div class="form-group">
                    <label class="form-label">书籍位置：</label>
                    <a href="/Books/BookPosition" v-if="location">上架位置</a>
                </div>
            </div>

        </div>
        <div style="position:relative;top:200px">
            <a class="btn" href="javascript:comfirm()" v-if="new_book.BookName">确认录入</a>
        </div>
    </div>
</div>

<script>
    var sellapp = new Vue({
        el: "#sell-form",
        data: {
            book: {
                BookId: "123",
                BookName: "",
                BookIbsn: "",
                Author: "",
                Press: "",
                OriPrice: "",
                CurrPrice: "",
                category: "",
                userName: getCookie("username"),
            },
            new_book: {
                BookId: "",
                BookName: "",
                BookIbsn: "",
                Author: "",
                Press: "",
                OriPrice: "",
                CurrPrice: "",
                category: "",
                userName: "",                
            },
            location: false,
        }
    })
    function commit() {
        if (sellapp.book.userName == "") {
            alert("请先登录后再提交")
            return;
        }
        $("#commit-btn").attr('disabled', 'disabled'); //禁用提交按钮

        $.ajax({
            url: "/Books/PublicBook",
            data: {
                book: JSON.stringify(sellapp.book)
            },
            type: "post",
            dataType: "json",
            success: function (data) {
                if (data.state == "success") {
                    sellapp.new_book = JSON.parse(data.message);
                    sellapp.location = true;
                }
                else {
                    alert(data.message);
                }
                $("#commit-btn").removeAttr('disabled'); //取消禁用提交按钮
            },
        });
    }
    function comfirm() {
        alert('请尽快将书籍上架');
        //window.history.go(0);
    }
</script>