*{
    margin:0;
    padding:0;
    list-style:none;

}
html, body {
    background: #fff;
    font: normal 15px "Microsoft YaHei";
}
div.main > p {
    background: #044599;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border: 1px #ECECEC solid;
    color: #fff;
    height: 50px;
    line-height: 50px;
    margin: 0;
}
div.main > form {
    border: 1px #ECECEC solid;
    padding: 10px;
    height: 50px;
}
   #OrderQuery_btn{
       width:50px;
   }
div.main > table tr th,
div.main > table tr td {
    border: 1px solid #ECECEC;
    text-align: center;
    height: 30px;
    line-height: 30px;
}
div.main > table tr th {
    background: #044599;
    color: #fff;
}
