
@{
    ViewData["Title"] = "OrderQuery";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>用户登录</title>
    <link href="~/css/OrderQuery_css.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/js/jquery-1.7.1.js"></script>
    <script type="text/javascript">

    </script>
</head>
<body>
    <div class="main">
        <p>历史订单查询</p>
        <form id="OrderQuery_Form"  action="" method="post">
            日期：
            <input type="date" />
            至
            <input type="date" />
            <input type="button" id="OrderQuery_btn" value="提交" />
        </form>
        <table width="100%" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th>订单编号</th>
                    <th>书籍编号</th>
                    <th>书籍名称</th>
                    <th>出版社</th>
                    <th>作者名</th>
                    <th>卖家id</th>
                    <th>订单时间</th>
                    <th>实付款</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>不会写js。。</td>
                </tr>
            </tbody>
            
        </table>
    </div>

</body>
</html>
