
@{
    ViewData["Title"] = "位置导航";
}
@{ Layout = "../Shared/_layout_1.cshtml"; }
<html>
<head>
    <script src="~/js/localization_client.js"></script>

    <style>

        #map {
            background: url(/assets/img/background3.png) no-repeat 0px 0px;
            border: 1px solid #f5f5fa;
            width: 850px;
            height: 975px;
            position: relative;
            margin: 0 auto;
        }

        #position {
            width: 30px;
            position: absolute;
            right: 100px;
            top: 100px;
        }

        #title {
            text-align: center
        }
        #certern {
            text-align: center
        }
    </style>
</head>
<body>

</body>
</html>

<h1 id="title">地图导航</h1>
<div id="certern">
    <button class="btn " type="button" onclick="ToggleBasicClicked()">开始导航</button>
</div>

<div id="map">
    <img src="~/assets/img/location.png" id="position" />

</div>
<label id="loaction">

</label>
