
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>管理员登录</title>
    <link href="~/css/login_css.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {            
            function loginCheck() {
                var $username = $("#username");
                var $password = $("#password");
                //  检查表单完整性
                if ($username.val() == "") {
                    $username.focus();
                    $("#login_info").html("请输入用户名");                    
                    return false;
                }
                else if ($password.val() == "") {
                    $password.focus();
                    $("#login_info").html("请输入用户名"); 
                    return false;
                }
                else {
                    $("#loginButton").attr('disabled', 'disabled') //禁用登陆按钮
                    $("#login_info").html("登陆中...");
                    $.ajax({
                        url: "/Admins/Check",
                        data: {
                            username: $.trim($username.val()),
                            password: $.trim($password.val())
                        },
                        type: "post",
                        dataType: "json",
                        success: function (data) {
                            if (data.state == "success") {
                                $("#login_info").html(data.message);
                                window.setTimeout(function () {
                                    window.location.href = "/Home/Index";
                                }, 500);
                            }
                            else {
                                $("#loginButton").removeAttr('disabled'); //取消禁用                                                         
                                $("#login_info").html(data.message);
                            }
                        }
                    });
                }
            }
            $("#loginButton").click(function () { loginCheck(); })
            /*回车事件*/
            function EnterPress(e) { //传入 event
                var e = e || window.event;
                if (e.keyCode == 13) { loginCheck(); }
            }
        });

    </script>
</head>

<body>
    <div id="login_center">
        <div id="login_area">
            <div id="login_box">
                <div id="login_form">
                    <form id="submitForm" action="" method="post">
                        <div id="login_tip">
                            <span id="login_info" class="sty_txt2"></span>
                        </div>
                        <div>
                            用户名：<input type="text" class="username" id="username">
                        </div>
                        <div>
                            密&nbsp;&nbsp;&nbsp;&nbsp;码：<input type="password" class="password" id="password" onkeypress="EnterPress(event)" onkeydown="EnterPress()">
                        </div>
                        <div id="btn_area">
                            <input type="button" class="login_btn" id="loginButton" value="登  录">
                            <input type="reset" class="login_btn" id="login_ret" value="重 置">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
